.fm-100vh {
	height: 100vh;
}

.fm-button {
	margin: 10vh 2vw 0 2vw;
	padding: 15px 30px;
}

.fm-heading {
	margin: 0;
	padding: 40vh 0 0 0;
}

.fm-container {
	padding: 0;
	margin:  0;
/*	background-color: rgba(0,0,0,0.8);*/
}

/*.fm-coverimage {
	background-image: url('../img/recipe1.jpg');
	background-size: cover;
	color: white;
}*/

@media only screen and (min-width: 768px) {
	.fm-button {
		line-height: 0.2em;
		padding: 2em;
		margin-top: 20vh;
		font-size: 1.5em;
	}

	.fm-heading {
		line-height: 10vh;
		padding-top: 20vh;
		font-size: 5em;
	}

	.fm-sub-heading {
		font-size: 1.65em;
		line-height: 10vh;
	}

	.fm-container {
		margin: 0;
	}

}
