.fm-100vh {
	height: 100vh;
}

.fm-button {
	margin: 10vh 2vw 0 2vw;
	padding: 15px 30px;
	border-radius: 0;
}

.fm-heading {
	margin: 0;
	padding: 40vh 0 0 0;
}

.fm-container {
	padding: 0;
	margin:  0;
/*	background-color: rgba(0,0,0,0.8);*/
}

div.fm-menu {
	color: white;
	overflow: hidden;
	white-space: nowrap;
	margin: auto;
}

div.fm-menu a {
	display: inline-block;
	text-align: center;
	padding: 14px;
  text-decoration: none;
}

.fm-menu-item {
	color: white;

}

.fm-brand {

}

.fm-brand-img {
	max-height:40px;
	text-align: center;
	margin: auto;
	display: block;
	width: 100%;
}

/*.fm-coverimage {
	background-image: url('../img/recipe1.jpg');
	background-size: cover;
	color: white;
}*/

@media only screen and (min-width: 768px) {
	.fm-button {
		line-height: 0.2em;
		padding: 2em;
		margin-top: 20vh;
		font-size: 1.5em;
	}

	.fm-heading {
		line-height: 10vh;
		padding-top: 20vh;
		font-size: 5em;
	}

	.fm-sub-heading {
		font-size: 1.65em;
		line-height: 10vh;
	}

	.fm-container {
		margin: 0;
	}

	div.fm-menu {
		margin-right: 0;
	}
	div.fm-brand {
		text-align: left;

	}


}
